<div class="row w-100">
    <div class="col-md-3">
        <div class="card border-info bg-light p-3">
            <div class="text-black text-center mt-3"><h4>Confirmed</h4></div>
            <div class="text-black text-center mt-2"><h1>{{totalConfirmed}}</h1></div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card border-info bg-light  p-3">
            <div class="text-black text-center mt-3"><h4>Recovered</h4></div>
            <div class="text-black text-center mt-2"><h1>{{totalRecovered}}</h1></div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card border-info bg-light p-3">
            <div class="text-black text-center mt-3"><h4>Deaths</h4></div>
            <div class="text-black text-center mt-2"><h1>{{totalDeaths}}</h1></div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card border-info bg-light p-3">
            <div class="text-black text-center mt-3"><h4>Active</h4></div>
            <div class="text-black text-center mt-2"><h1>{{totalActive}}</h1></div>
        </div>
    </div>
</div>